
.nav-link , .navbar-brand{
 color: #f4f4f4;
 cursor: pointer;
}
.nav-link{
  font-size: 30px;
 margin-right: 1em !important;
}
.nav-link:hover{
 background: #f4f4f4;
 color: #666666;
 border-radius: 10px;
}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}



.navbar{
	background:#000;
}
/* кнопки навбар*/
.nav-item {
  font-size: 30px;

}

.img-logo {
  width: 2%;
  height: auto;
}

.header{
	position: relative;
	background-image: url('../images/back-header.jpg');

	background-size: cover;
	background-position: center;
}




.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}
.description h3{
  font-size: 48px;
  color: rgb(255, 255, 255);

  line-height: 1.2;
  text-align: left;

}
.description h2{
 color: rgb(255, 255, 255);
 font-size: 20px;
 line-height: 1.5;
}

.description button{
  border-radius: 10px;
 background-color: rgb(126, 202, 216);
 font-size: 30px;
 color: rgb(255, 255, 255);
 width: 341px;
 height: 75px;
}


.about{
 margin: 5em 0;
 padding: 1em;
 position: relative;
}
.about h1{
 color:black;

}
.about img{
 height: 100%;
 width: 100%;

}

.block2{
  background-color: rgb(126, 202, 216);
  width: 559px;
  height: 457px;
}
.about  p{

  margin-left: 40px;
  /*margin-right: 20px;
  padding-top: 20px;*/
  color:#f4f4f4;
  font-size: 36px;

}

.srks{
 margin: 5em 0;
 padding: 1em;
 position: relative;
}
.srks h1{
 color:black;

}
.srks img{
 height: 100%;
 width: 100%;
}

.srks  p {


    /*margin-right: 20px;
    padding-top: 20px;*/

    font-size: 30px;
    text-align: center;
}